#bio{
    color: purple;
}
#gostos{
    color: blue;
}
#nome{
    color: red;
}
#Redes_sociais{
    color:red;
}
#videos_youtube{
    color:red;
}
#projetos:hover{
    color:red;
}
#home:hover{
    color:red;
}
.texto1{
    color: purple;
}
.texto2{
    color:purple;
}
#youtube:active{
    color:green;
}
#instagram:active{
    color:green;
}
#github:active {
    color:green;
}
#youtube:visited{
    color:blue;
}
#instagram:visited{
    color:blue;
}
#github:visited{
    color:blue;
}
#youtube:hover{
    color:red;
}
#instagram:hover{
    color:red;
}
#github:hover{
    color: red;
}
