#bio{
    color: purple;
}
#gostos{
    color: blue;
}
#nome{
    color: red;
}
#Redes_sociais{
    color:red;
}
#videos_youtube{
    color:red;
}
#projetos:hover{
    color:red;
}
#home:hover{
    color:red;
}
.texto1{
    color: purple;
}
.texto2{
    color:purple
}